<%- include('partials/header.ejs') %>



    hello, this is the front page until we have a real frontend. currently you can:<br><br>
    <strong>Nests:</strong><br>
    <a href='/api/nests'>/api/nests</a> (view your nests as JSON)<br>
    <a href='/api/nests/create'>/api/nests/create</a> (create a nest)<br><br>

    <strong>Contacts:</strong><br>
    <a href='/api/contacts'>/api/contacts</a> (view contacts - JSON)<br>
    <a href='/api/contacts/HTML'>/api/contacts/HTML</a> (view contacts - HTML)<br>
    <a href='/api/contacts/create'>/api/contacts/create</a> (create a contact)<br><br>

</body>
</html>